.r1{
    padding-bottom: 175px;
}
.column1{

    background-color: rgb(229, 253, 245);
    border-style: groove;
    border-width: 3px;
    border-color: aqua;
    border-radius: 8px;
    padding-top: 20px;

}

.t1{
    color: rgb(11, 252, 172);
    padding-bottom: 15px;
}

.t2{
    color: rgb(57, 144, 214);
    padding-bottom: 15px;
}

.t3{
    color: rgb(255, 181, 97);
    padding-bottom: 15px;
}

.r2{
    padding-bottom: 20px;
}